<section class="section-splash">
  <h3>Budget Me <i class="fas fa-piggy-bank"></i></h3>
  <div class="link-box">
    <%= link_to 'LOG IN', new_user_session_path %>
    <%= link_to 'SIGN UP', new_user_registration_path%>
  </div>
</section>