.header {
  padding: 32px;
  width: 100%;
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8edf3;
}

.header h2 {
  font-family: 'ProximaBold', sans-serif;
  font-size: 32px;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  background-color: #e8edf3;
}

.categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: #fff;
  padding: 16px;
  border-radius: 3px;
  width: 100%;
}

.icon-box {
  width: 15%;
}

.icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  flex-grow: 1;
  font-family: 'ProximaBold', sans-serif;
  font-size: 24px;
}

.category-total {
  font-family: 'ProximaBold', sans-serif;
  font-size: 24px;
}

.category-name a {
  color: #949494;
  text-decoration: none;
}

.btn {
  display: block;
  background-color: #5fb523;
  color: #e8edf3;
  border: none;
  width: 100%;
  padding: 24px;
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
  position: fixed;
  left: 0;
  bottom: 0;
  text-decoration: none;
}

.file-input {
  text-align: start;
}

.btn-primary {
  background-color: #3778c2;
  color: #e8edf3;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

.large-trash-icon {
  font-size: 1.8em;
  cursor: pointer;
}
