.total-transactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: solid 1px #3778c2;
  margin-bottom: 24px;
}

.transactions-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: #fff;
  padding: 16px;
  border-radius: 3px;
  width: 100%;
}

.transaction-desc-box {
  flex-grow: 1;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #666;
}

.creation-box p {
  font-size: 12px;
}

.transaction-name-box {
  display: flex;
  justify-content: space-between;
  border-bottom: #d6d6d6 solid 1px;
  padding: 6px;
  padding-bottom: 16px;
}

.categories-dropdown select {
  width: 100%;
  height: 32px;
  padding: 8px;
  border: none;
  border-bottom: solid 1px #3778c2;
  outline: none;
}

.categories-dropdown select option {
  width: 100%;
}

.btn-primary {
  background-color: #3778c2;
  color: #e8edf3;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}
