/* === Login Style === */
body {
  background-color: rgb(245, 245, 245);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  background-color: #3778c2;
  color: #fff;
}

.login-header p {
  margin: 0;
  flex-grow: 1; /* Grow to take up available space */
  text-align: center; /* Center the text */
}

.actions {
  margin-left: 10px; /* Add margin for spacing */
}

.actions input[type="submit"] {
  background-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.back-arrow {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.inputs {
  padding-top: 1.5rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  height: 3rem;
  box-sizing: border-box;
  border: none;
}

.inputs hr {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 0%;
}

.links {
  margin-top: 1.5rem;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: #434b54;
}

/* === Login Style === */
